<main>
    <div class='grid'>
      {{#each products}}
        <article class='card product-item'>
          <header class='card__header'>
            <h1 class='product__title'>{{title}}</h1>
          </header>
          <div class='card__image'>
            <img src={{imageUrl}} alt={{title}} />
          </div>
          <div class='card__content'>
            <h2 class='product__price'>${{price}}</h2>
            <p class='product__description'>{{desc}}</p>
          </div>
          <div class='card__actions'>
            {{#if ../isLoggedIn}}
              {{> addToCart}}
            {{/if}}
          </div>
        </article>
      {{else}}
        <h1>No Products Found</h1>
      {{/each}}
    </div>
</main>